!DOCTYPE html>
<html lan="eng">
<head>
<meta charset="UTF-8">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<style>
#backgroundImage:before {
   content: "";
   position: absolute;
   z-index: -1;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background-image: url(http://static.tumblr.com/25bac3efec28a6f14a446f7c5f46b685/hywphoq/ufoniwv6n/tumblr_static_ldhkrazuoqo4g0s0sk8s4s4s.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.4;
    filter:alpha(opacity=40);
    height:100%;
    width:100%;
 }
 </style>


</head>
<body>
<div id="backgroundImage">

<nav class="navbar navbar-inverse">
<div class="container-fluid">
 <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
<ul class="nav navbar-nav  ">
<li>
<ul class="nav nav-tabs">
<li class="active"><a href="#">HOME</a></li>
<li ><a href="#">GET PREDICTION</a></li>
<li><a href="#">FEED BACK</a></li>
</ul>
</li>
</ul>
</div>
</nav>
</div>
</body>
</html>